<!DOCTYPE html>
<html>
  <head>
    <title>NinetyNineCats</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <header>
    <% if current_user %>
      <p>Welcome <%= current_user.user_name %>!</p>
      <%= button_to "Log out", session_url,  method: 'delete'%>
    <% else %>
    <%= button_to "Log in", new_session_url, method: 'get' %>
    <% end %>
  </header>

  <body>
    <%= yield %>
  </body>
</html>
